@model WMS.UI.Controllers.Model.RootModel
@{
    Layout = "../../../../Views/head.cshtml";
}
<div id=layout>

    <div form="Y" id="form1">
        <input type="text" name="agent_name" hint="代理中文名" />
        <input type="text" name="agent_code" hint="代理Code" />
        <input type="text" name="agent_type" hint="代理类型" />
    </div>
    <table id="grid"></table>
</div>

<div id='form22' style="display:none">
    @Html.EipInputFor(model => model.txt_agentName, new { @left = "140" })
    @Html.EipInputFor(model => model.txt_agentCode, new { @left = "140" })
    @Html.EipInputFor(model => model.txt_agentType, new { @left = "140" })
</div>

<script type="text/javascript" src="/share/includes/eip.js"></script>
<script type="text/javascript">
    $(function () {
        eip.form.createOptions($("[name=userStatus]"), [{ val: "Active" }, { val: "UnActive" }])

        //页面布局
        var layout = eip.layout.create(
            $("#layout"),
            [{
                obj: $('#form1'),
                buttons: [
                    {
                        text: "查询", icon: "search", click: function () {
                            eip.datagrid.load("/Root/Agent/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                        }
                    },
                     {
                         text: "新增代理", icon: "add", click:
                         function () {
                             var dlg = eip.dialog.create("新增代理", "<div id=layout1 ><div form='Y' id='form2'>"
                                 + $("#form22").html()
                                 //+ "<input type=\"text\" left=\"140\" name=\"txt_agentName\" hint=\"代理中文名\" />"
                                 //+ "<input type=\"text\" left=\"140\" name=\"txt_agentCode\" hint=\"代理Code\" />"
                                 //+ "<input type=\"text\" left=\"140\" name=\"txt_agentType\" hint=\"代理类型\" />"
                                 + "</div></div>", 500, 200)

                             //窗体工具栏按钮 begin
                             eip.layout.create($('#layout1'), [{
                                 obj: $('#form2'),
                                 buttons: [
                                     {
                                         text: "保存", icon: "save", click:
                                             function () {

                                                 if (!$("#form2").form('validate')) {
                                                     return false;
                                                 }

                                                 eip.get("/Root/Agent/AddAgent", eip.para.create($("input,select", $("#layout1"))), function (jsonObj) {
                                                     $.procAjaxData(jsonObj, function () {
                                                         $("[name=txt_agentName]").val("");
                                                         $("[name=txt_agentCode]").val("");
                                                         $("[name=txt_agentType]").val("");
                                                         eip.datagrid.load("/Root/Agent/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                                                     }, function () { });
                                                 })
                                             }
                                     },
                                    {
                                        text: "关闭窗口", icon: "no", click:
                                           function () {
                                               eip.dialog.close(dlg);
                                           }
                                    }
                                 ]
                             }])
                             //end

                             //窗体默认加载方法
                             //eip.datagrid.load("EipModel/List", $("#grid_detail"), null);
                             $("[name=txt_agentName]").focus();
                         }
                     }
                    // },
                    //{
                    //    text: "打开新页面", icon: "add", click: function () {
                    //        eip.tab.add("/test", "测试页面");

                    //    }
                    //}
                ]
            }]);

        //客制化
        eip.datagrid.create({
            obj: $("#grid"),
            pagesize: 200,
            hiddencolumns: ["修改人", "修改时间", "仓库"],
            //showOrderBtns: true,
            muledit: false,
            lockcolumns: 2,
            columns: {
                "操作": {
                    formatter: function (row) {
                        var retHtml = " ";
                        retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-edit' plain=true onclick='eip.datagrid.edit(this)' title='编辑信息' ></a>";
                        return retHtml;
                    },
                    editor: {
                        type: "func", func: function (row) {
                            var btn = $("<a href='#' id='saveButton' title='保存' class='easyui-linkbutton' plain='true' iconCls='icon-save'></a>" +
                            "<a href='#' id='cancelButton' title='取消' class='easyui-linkbutton' plain='true' onclick=\"eip.datagrid.reset($(this).closest('tr'))\" iconCls='icon-remove'></a>");
                            btn.click(function () {
                                var Id = row["操作"];     //得到ID
                                var whCode = row["仓库"];
                                eip.get("/Root/Agent/WhAgentEdit?Id=" + Id + "&WhCode=" + eip.utf8(whCode) + "&AgentName=" + eip.utf8($("[name=edit_AgentName]").val()) + "&AgentCode=" + eip.utf8($("[name=edit_AgentCode]").val()), null, function (jsonObj) {
                                    $.procAjaxData(jsonObj, function () {
                                        eip.datagrid.load("/Root/Agent/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                                    }, function () { });
                                })

                            });
                            return btn;
                        }
                    }
                },
                "代理名": {
                    editor: { type: "text", name: "edit_AgentName" }
                },
                "代理Code": {
                    editor: { type: "text", name: "edit_AgentCode" }
                }
            },
            dofunc: function (grid, trs) {
                for (i in trs)  //列 格式化增加颜色显示
                    $("td[field=UserNameCN],td[field=PassWord]", trs[i]).css('color', 'blue');
            },
            //lock:锁定，不可隐藏的栏位；hide：可以隐藏的栏位（show和hide只能设一个）；
            setup: { lock: ['UserNameCN'] }

        });

        $("[name=agent_name]").focus();
        //开始查询list
        //eip.toolbar.getBtn(layout, '查询').click();
    });



</script>
