<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IRootService" />
        <binding name="BasicHttpBinding_IInBoundService" />
        <binding name="BasicHttpBinding_IRecReportService" />
        <binding name="BasicHttpBinding_IInVentoryService" />
        <binding name="BasicHttpBinding_IOutBoundService" />
        <binding name="BasicHttpBinding_IPackTaskService" />
        <binding name="BasicHttpBinding_IAdminService" />
        <binding name="BasicHttpBinding_IRecService" />
        <binding name="BasicHttpBinding_IGMSService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:45936/UserService/UserService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
          contract="WCF.UserService.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:45936/InBoundService/InBoundService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInBoundService"
          contract="WCF.InBoundService.IInBoundService" name="BasicHttpBinding_IInBoundService" />
      <endpoint address="http://localhost:45936/RecReportService/RecReportService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecReportService"
          contract="WCF.RecReportService.IRecReportService" name="BasicHttpBinding_IRecReportService" />
      <endpoint address="http://localhost:45936/InVentoryService/InVentoryService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInVentoryService"
          contract="WCF.InVentoryService.IInVentoryService" name="BasicHttpBinding_IInVentoryService" />
      <endpoint address="http://localhost:45936/OutBoundService/OutBoundService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOutBoundService"
          contract="WCF.OutBoundService.IOutBoundService" name="BasicHttpBinding_IOutBoundService" />
      <endpoint address="http://localhost:45936/AdminService/AdminService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
          contract="WCF.AdminService.IAdminService" name="BasicHttpBinding_IAdminService" />
      <endpoint address="http://localhost:45936/RecService/RecService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecService"
          contract="WCF.RecService.IRecService" name="BasicHttpBinding_IRecService" />
      <endpoint address="http://localhost:45936/RootService/RootService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRootService"
          contract="WCF.RootService.IRootService" name="BasicHttpBinding_IRootService" />
      <endpoint address="http://localhost:45936/GMSService/GMSService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGMSService"
          contract="WCF.GMSService.IGMSService" name="BasicHttpBinding_IGMSService" />
      <endpoint address="http://localhost:45936/PackTaskService/PackTaskService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackTaskService"
          contract="WCF.PackTaskService.IPackTaskService" name="BasicHttpBinding_IPackTaskService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OpenXml4Net" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
