
@{
    Layout = "../../../../Views/head.cshtml";
}
<div id=layout>

    <div form="Y" id="form1">
        <select class="easyui-vhuo'xia'alidatebox" hint="客户名" name="clientCode"><option value=''></option><option value='Lululemon'>Lululemon</option></select>
        <input type="text" left="100" name="ReceiptId" hint="收货批次号" />
        <input type="text" left="90" name="SoNumber" hint="SO" />
        <input type="text" left="90" name="CustomerPoNumber" hint="PO" />
        <input type="text" left="90" name="AltItemNumber" hint="款号" />
        <input type="text" left="90" name="HuId" hint="托盘" />

        <input type="text" name="BeginCreateDate" left="90" hint="收货时间" date='Y' value="@DateTime.Now.AddDays(0).ToString("yyyy-MM-dd")" />
        <input type="text" name="EndCreateDate" left="20" hint="-" date='Y' value="@DateTime.Now.AddDays(0).ToString("yyyy-MM-dd")" />

        <textarea name="so_number" left="60" hint="SO号"></textarea>

    </div>
    <table id="grid"></table>
</div>


<script type="text/javascript" src="/share/includes/eip.js"></script>
<script type="text/javascript">
    $(function () {
        //页面布局
        var layout = eip.layout.create(
            $("#layout"),
            [{
                obj: $('#form1'),
                buttons: [
                    {
                        text: "查询", icon: "search", click: function () {
                            eip.datagrid.load("/Rec/HuAllWeight/List", $("#grid"), eip.para.create($("input,select,textarea", $("#form1"))));
                        }
                    }
                ]
            }]);

        //客制化
        eip.datagrid.create({
            obj: $("#grid"),
            pagesize: 50,
            hiddencolumns: [""],
            muledit: false,
            checkbox: function (row) {

                return "<input type=checkbox name=check_to_all  value=\"" + row["收货批次号"] + "\"  huid=\"" + row["托盘"] + "\" >";

            },
            columns: {
                "操作": {
                    formatter: function (row) {
                        var retHtml = " ";
                        retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-edit' plain=true onclick='EditZoneExtend(this)' title='修改' ></a>";

                        return retHtml;
                    }
                }
            },
            dofunc: function (grid, trs) {
                for (i in trs)  //列 格式化增加颜色显示
                    $("td[field=UserNameCN],td[field=PassWord]", trs[i]).css('color', 'blue');
            },
            //lock:锁定，不可隐藏的栏位；hide：可以隐藏的栏位（show和hide只能设一个）；
            setup: { lock: ['UserNameCN'] }

        });

        $("[name=so_number]").css("height", "30px").css("width", "185px");
        $("[name=so_number]").parent().css("height", "35px").css("width", "280px");

    });

    function EditZoneExtend(obj) {
        var tr = eip.datagrid.getTr(obj)
        var row = eip.datagrid.getData(tr)
        var huId = row["托盘"];

        var dlg = eip.dialog.create("修改托盘长宽高", "<div id=layout9 ><div form='Y' id='form9'>"
                                    + "<span left=\"140\" hint=\"收货批次号\">" + row["收货批次号"] + "</span>"
                                    + "<span left=\"140\" hint=\"托盘\">" + row["托盘"] + "</span>"
                                    + "<span left=\"140\" hint=\"长宽高输入格式\">0.0  举例：0.3</span>"
                                    + "<input type=\"text\"  left=\"140\"  name=\"edit_HuLength\"  value=\"" + (row["托盘长"] == null ? 0 : row["托盘长"]) + "\" hint=\"托盘长\" />"
                                     + "<input type=\"text\"  left=\"140\"  name=\"edit_HuWidth\"  value=\"" + (row["托盘宽"] == null ? 0 : row["托盘宽"]) + "\" hint=\"托盘宽\" />"
                                     + "<input type=\"text\"  left=\"140\"   name=\"edit_HuHeight\"  value=\"" + (row["托盘高"] == null ? 0 : row["托盘高"]) + "\" hint=\"托盘高\" />"
                                     + "<input type=\"text\"  left=\"140\"   name=\"edit_HuWeight\"  value=\"" + (row["托盘重量"] == null ? 0 : row["托盘重量"]) + "\" hint=\"托盘重量\" />"
                                    + "</div></div>", 480, 264)

        eip.layout.create($('#layout9'), [{
            obj: $('#form9'),
            buttons: [
                {
                    text: "确认修改", icon: "save", click:
                        function () {

                            eip.get("/Rec/HuAllWeight/EditHeavyPallet?huId=" + huId, eip.para.create($("input,select,textarea", $("#layout9"))), function (jsonObj) {
                                $.procAjaxData(jsonObj, function () {
                                    eip.dialog.close(dlg);

                                    eip.datagrid.load("/Rec/HuAllWeight/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));

                                }, function () { });
                            }, null, true)

                        }
                },
               {
                   text: "关闭窗口", icon: "no", click:
                      function () {
                          eip.dialog.close(dlg);
                      }
               }
            ]
        }])

    }

</script>
