@{
    Layout = "../../../../Views/head.cshtml";
}
<div id=layout>

    <div form="Y" id="form1">
        <input type="text" left="90" name="receipt_id" hint="收货批次号" /> 
        <input type="text" left="90" name="hu_id" hint="托盘号" />
        请注意：完成收货的批次才能修改
    </div>
    <table id="grid"></table>
</div>


<script type="text/javascript" src="/share/includes/eip.js"></script>
<script type="text/javascript">
    $(function () {

        //页面布局
        var layout = eip.layout.create(
            $("#layout"),
            [{
                obj: $('#form1'),
                buttons: [
                    {
                        text: "查询", icon: "search", click: function () {
                            if ($("[name=receipt_id]", $("#layout")).val() == "") {
                                $.eipMsg.alert("请输入收货批次号!");
                                return;
                            }
                            eip.datagrid.load("/InBound/EditInBoundCustPoByHu/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                        }
                    }, {
                        text: "确认修改", icon: "save", click:
                           function () {
                               if ($("[name=check_to]:checked", $("#grid")).length == 0) {
                                   $.eipMsg.alert("请先选择信息!");
                                   return;
                               }

                               EditDetailClientCode();

                           }
                    }
                ]
            }]);

        //客制化
        eip.datagrid.create({
            obj: $("#grid"),
            pagesize: 200,
            hiddencolumns: ["仓库"],
            checkbox: function (row) {
                if (row["状态"] == "完成收货") {
                    return "<input type=checkbox name=check_to  value=\"" + row["SO号"] + "\"  poNumber=\"" + row["PO号"] + "\"  huId=\"" + row["托盘号"] + "\" >";
                }
            }
        });

        $("[name=receipt_id]").focus();

    });

    //修改PO
    function EditDetailClientCode() {

        var arr_list = [];
        $("[name=check_to]:checked", $("#grid")).each(function () {
            arr_list.push({ name: 'soNumber', value: $(this).val() });
            arr_list.push({ name: 'poNumber', value: $(this).attr("poNumber") });
            arr_list.push({ name: 'huId', value: $(this).attr("huId") });
        })

        var val1 = $("[name=receipt_id]").val();

        var dlg = eip.dialog.create("修改PO", "<div id=layout1 ><div form='Y' id='form2'>"
                                    + "<span left=\"140\" hint=\"收货批次号：\">" + val1 + "</span>"
                                    + "<input type=\"text\" left=\"140\" name=\"edit_CustomerPoNumber\" value=\"\" hint=\"修改为\" /><span  hint=\"\">请填写PO号</span>"
                                    + "</div></div>", 500, 230)

        eip.layout.create($('#layout1'), [{
            obj: $('#form2'),
            buttons: [
                {
                    text: "保存", icon: "save", click:
                        function () {

                            if ($("[name=check_to]:checked", $("#grid")).length > 1) {
                                $.eipMsg.alert("修改PO时只能选择一行修改！");
                                return;
                            }

                            var clientCode = $("[name=edit_CustomerPoNumber]").val();
                            if (clientCode == "") {
                                $.eipMsg.alert("请先填写PO号!");
                                return;
                            }

                            $.eipMsg.confirm("确定修改PO号吗？", function () {
                                eip.post("/InBound/EditInBoundCustPoByHu/EditDetailCustomerPoNumber?receiptId=" + val1 + "&edit_CustomerPoNumber=" + $("[name=edit_CustomerPoNumber]").val(), arr_list, function (jsonObj) {
                                    $.procAjaxData(jsonObj, function () {
                                        eip.dialog.close(dlg);
                                        eip.datagrid.load("/InBound/EditInBoundCustPoByHu/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                                    }, function () { });
                                }, null, true)
                            })
                        }
                },
               {
                   text: "关闭窗口", icon: "no", click:
                      function () {
                          eip.dialog.close(dlg);
                      }
               }
            ]
        }])
        $("[name=edit_CustomerPoNumber]").focus();
    }

</script>
