@model WMS.Report.Controllers.Model.EveryDayRecOutModel
@{
    Layout = "../../../../Views/head.cshtml";
}
<div id=layout>
    <div form="Y" id="form1">
        <input type="hidden" name="whCode" value="@ViewBag.whCode" />
        @Html.EipGetSelect((IEnumerable<SelectListItem>)ViewData["clientCode"], "WhClientId", "客户名：", "", "")

        @Html.EipInputFor(model => model.BeginDate, new { @left = "100", @value = DateTime.Now.AddDays(0).ToString("yyyy-MM-dd") })
        @Html.EipInputFor(model => model.EndDate, new { @left = "100", @value = DateTime.Now.ToString("yyyy-MM-dd") })
    </div>
    <table id="grid"></table>
</div>

<script type="text/javascript" src="/share/includes/eip.js"></script>
<script type="text/javascript">

    $(function () {

        //页面布局
        var layout = eip.layout.create(
            $("#layout"),
            [{
                obj: $('#form1'),

                buttons: [
                    {
                        text: "查询", icon: "search", click: function () {
                            eip.datagrid.load("/Reports/WarhouseReport/EveryDayRecOutList", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                        }
                    }
                ]
            }]);

        //客制化
        eip.datagrid.create({
            obj: $("#grid"),
            pagesize: 50,
            ajaxType: 'post',    //load时，ajax请求类型
            sort: true,
            sorts: { "类型": "ASC"},  //排序栏位：{'料号':'DESC','组织':'ASC'}
            showExcelExport: true,//显示汇出按钮
            //  hiddencolumns: ["ReceiptDate"],
            //showOrderBtns: true,
            //lockcolumns: 2,
            columns: {
                "操作": {
                    formatter: function (row) {
                        var retHtml = " ";



                        return retHtml;
                    }
                },
                dofunc: function (grid, trs) {
                    //for (i in trs)  //列 格式化增加颜色显示
                    //    $("td[field=UserNameCN],td[field=PassWord]", trs[i]).css('color', 'blue');
                }
            }
        });

    });

</script>