@{
    Layout = "../../../../Views/head.cshtml";
}
<div id=layout>

    <div form="Y" id="form1">
        <input type="text" left="90" name="receipt_id" hint="收货批次号" />

    </div>
    <table id="grid"></table>
</div>


<script type="text/javascript" src="/share/includes/eip.js"></script>
<script type="text/javascript">
    $(function () {

        //页面布局
        var layout = eip.layout.create(
            $("#layout"),
            [{
                obj: $('#form1'),
                buttons: [
                    {
                        text: "查询", icon: "search", click: function () {
                            if ($("[name=receipt_id]", $("#layout")).val() == "") {
                                $.eipMsg.alert("请输入收货批次号!");
                                return;
                            }
                            eip.datagrid.load("/Warehouse/C_RecComplete/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                        }
                    }
                ]
            }]);

        //客制化
        eip.datagrid.create({
            obj: $("#grid"),
            pagesize: 200,
            hiddencolumns: ["仓库", "单位ID"],
            //showOrderBtns: true,
            muledit: false,
            columns: {
                "操作": {
                    formatter: function (row) {
                        var retHtml = " ";
                        if (row["状态"] != "完成收货" && row["状态"] != "未收货") {
                            retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-save' plain=true onclick='EditDetail(this)' title='强制完成收货' ></a>";
                        }

                        return retHtml;
                    }
                }
            },
            dofunc: function (grid, trs) {
                for (i in trs)  //列 格式化增加颜色显示
                    $("td[field=UserNameCN],td[field=PassWord]", trs[i]).css('color', 'blue');
            },
            //lock:锁定，不可隐藏的栏位；hide：可以隐藏的栏位（show和hide只能设一个）；
            setup: { lock: ['UserNameCN'] }

        });

        //开始查询list
        //eip.toolbar.getBtn(layout, '查询').click();
    });

    function EditDetail(obj) {

        var tr = eip.datagrid.getTr(obj)
        var row = eip.datagrid.getData(tr)
        var receiptId = row["收货批次号"]

        $.eipMsg.confirm("确定强制完成收货吗？", function () {
            eip.post("/Warehouse/C_RecComplete/EditDetail?ReceiptId=" + receiptId, null, function (jsonObj) {
                $.procAjaxData(jsonObj, function () {

                    eip.datagrid.load("/Warehouse/C_RecComplete/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));

                }, function () { });
            }, null, true)
        })
    }

</script>
