@{
    Layout = "../../../../Views/head.cshtml";
}
<div id=layout>

    <div form="Y" id="form1">

        <input type="text" name="txt_holiday" hint="节假日" />

    </div>
    <table id="grid"></table>
</div>


<script type="text/javascript" src="/share/includes/eip.js"></script>
<script type="text/javascript">
    $(function () {

        //页面布局
        var layout = eip.layout.create(
            $("#layout"),
            [{
                obj: $('#form1'),
                buttons: [
                    {
                        text: "查询", icon: "search", click: function () {
                            eip.datagrid.load("/Root/Holiday/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                        }
                    },
                     {
                         text: "批量导入道口收费节假日", icon: 'imports', click:
                          function () {
                              eip.imports({
                                  url: '/Root/Holiday/imports', //若后台函数名为 imports，url就可以不传了
                                  doFunc: function (jsonObj) {
                                      $.procAjaxData(jsonObj, function () {
                                          eip.datagrid.load("/Root/Holiday/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                                      }, function () { })
                                  },
                                  columns: [
                                      {
                                          column: '节假日',
                                          type: "string",
                                          width: 100,
                                          empty: false, //允许空值
                                          optional: false //该列是否可选
                                      },
                                      {
                                          column: '日期',
                                          type: "date",
                                          width: 100,
                                          empty: false, //允许空值
                                          optional: false //该列是否可选
                                      }
                                  ]
                              });
                          }
                     }
                ]
            }]);

        //客制化
        eip.datagrid.create({
            obj: $("#grid"),
            pagesize: 50,
            hiddencolumns: [],
            columns: {
                "操作": {
                    formatter: function (row) {
                        var retHtml = " ";
                        retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-edit' plain=true onclick='eip.datagrid.edit(this)' title='编辑信息' ></a>";
                        retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-cancel' plain=true onclick='HolidayDel(this)' title='删除' ></a>";
                        return retHtml;
                    },
                    editor: {
                        type: "func", func: function (row) {
                            var btn = $("<a href='#' id='saveButton' title='保存' class='easyui-linkbutton' plain='true' iconCls='icon-save'></a>" +
                            "<a href='#' id='cancelButton' title='取消' class='easyui-linkbutton' plain='true' onclick=\"eip.datagrid.reset($(this).closest('tr'))\" iconCls='icon-remove'></a>");
                            btn.click(function () {

                                var Id = row["操作"];

                                var para = [{ name: "edit_dayBegin", value: $("[name=edit_dayBegin]").val() }];

                                eip.get("/Root/Holiday/EditHoliday?Id=" + Id, para, function (jsonObj) {
                                    $.procAjaxData(jsonObj, function () {
                                        eip.datagrid.load("/Root/Holiday/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                                    }, function () { });
                                })

                            });
                            return btn;
                        }
                    }
                },
                "日期": {
                    editor: { type: "text", name: "edit_dayBegin" }
                }
            }
        });

    });


    //删除
    function HolidayDel(obj) {
        var tr = eip.datagrid.getTr(obj)
        var row = eip.datagrid.getData(tr)

        $.eipMsg.confirm("确定删除此条明细吗？", function () {
            eip.get("/Root/Holiday/HolidayDel?Id=" + row["操作"], null, function (jsonObj) {
                $.procAjaxData(jsonObj, function () {
                    eip.datagrid.load("/Root/Holiday/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                }, function () { });
            })
        })
    }


</script>
