@model WMS.UI.Controllers.Model.RootModel
@{
    Layout = "../../../../Views/head.cshtml";
}
<div id=layout>

    <div form="Y" id="form1">
        <input type="text" name="client_name" hint="客户名" />
        <input type="text" name="client_code" hint="客户Code" />
        <select left="100" class="easyui-vhuo'xia'alidatebox" hint="排序" name="ClientCodeOrderBy"><option value=''></option><option value='ASC'>升序</option><option value='DESC'>降序</option></select>
    </div>
    <table id="grid"></table>
</div>


<script type="text/javascript" src="/share/includes/eip.js"></script>
<script type="text/javascript">
    $(function () {

        //页面布局
        var layout = eip.layout.create(
            $("#layout"),
            [{
                obj: $('#form1'),
                buttons: [
                    {
                        text: "查询", icon: "search", click: function () {
                            eip.datagrid.load("/root/client/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                        }
                    }
                ]
            }]);

        //客制化
        eip.datagrid.create({
            obj: $("#grid"),
            pagesize: 200,
            hiddencolumns: ["区域ID", "修改人", "修改时间", "仓库"],
            //showOrderBtns: true,
            muledit: false,
            columns: {
                "操作": {
                    formatter: function (row) {
                        var retHtml = " ";
                        if (row["状态"] == "Active") {
                            retHtml += "<a href=# class=easyui-linkbutton iconCls='icon-edit' plain=true onclick='eip.datagrid.edit(this)' title='修改客户默认区域' ></a>";
                        }

                        return retHtml;
                    },
                    editor: {
                        type: "func", func: function (row) {
                            var btn = $("<a href='#' id='saveButton' title='保存' class='easyui-linkbutton' plain='true' iconCls='icon-save'></a>" +
                            "<a href='#' id='cancelButton' title='取消' class='easyui-linkbutton' plain='true' onclick=\"eip.datagrid.reset($(this).closest('tr'))\" iconCls='icon-remove'></a>");
                            btn.click(function () {
                                var Id = row["操作"];     //得到ID
                                var whCode = row["仓库"];

                                eip.get("/root/client/WhClientEdit1?Id=" + Id + "&WhCode=" + eip.utf8(whCode)+ "&ZoneId=" + $("[name=edit_ZoneId]").val(), null, function (jsonObj) {
                                    $.procAjaxData(jsonObj, function () {
                                        eip.datagrid.load("/root/client/List", $("#grid"), eip.para.create($("input,select", $("#form1"))));
                                    }, function () { });
                                })

                            });
                            return btn;
                        }
                    }
                },
                "默认区域": {
                    editor: {
                        type: 'select', field: "区域ID", html: function (row) {
                            return $("@Html.EipGetSelect((IEnumerable<SelectListItem>)ViewData["ZoneSelect"], "edit_ZoneId")");
                        }
                    }
                }
            },
            dofunc: function (grid, trs) {
                for (i in trs)  //列 格式化增加颜色显示
                    $("td[field=UserNameCN],td[field=PassWord]", trs[i]).css('color', 'blue');
            },
            //lock:锁定，不可隐藏的栏位；hide：可以隐藏的栏位（show和hide只能设一个）；
            setup: { lock: ['UserNameCN'] }

        });

    });

</script>
